@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Big Shoulders Text', cursive;
    line-height: 1.4;
    background-color: rgb(204, 173, 108);
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.header {
    text-align: left;
    background: #333;
}

.navbar {
    background: #333;
}

.navButton {
    background:none;
    border:none;
    color:rgb(136, 136, 136);
}

.navButton:hover {
    color: white;
}

.characterinfo-box{
    /* background: rgb(153, 153, 153); */
    background: #333;
}

.characterinfo-content{
    /* background: rgb(153, 153, 153); */
    background: #333;
    margin: 15px;
}

input {
    background: #333;
    color: aliceblue;
    border: none;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    padding: 0 1rem;
}

.resourcebox {
    text-align: center;
    background: #333;
    justify-content: center;
    position: relative;
}

.resource-cost {
    position:absolute; 
    right: 7%;
    margin-top: 6px;
}

.rscrow {
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.rscbtn {
    padding:5px;
}

.progress-bar {
    position: relative;
    height: 23px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #333;
    background-color: #304b68;
}

.bar-text {
    position:absolute;      
    display:block;
    height:100%;
    width: 100%;
    padding-bottom: 22px;
    text-align:center;
}
  
.filler {
    background: #1DA598;
    height: 100%;
    border-radius: inherit;
}

.filler.magic{
    background: rgb(20, 102, 255);
}

.filler.production {
    background: rgb(34, 165, 29);
}

.filler.craft{
    background: rgb(202, 155, 0);
}

.skill {
    background-color: rgb(61, 0, 0);
    border-radius: 3px;
    margin: 2px;
}

.skillBody {
    color: rgb(161, 161, 161);
}

.checked {
    color: rgb(255, 255, 255);
    background-color: rgb(139, 0, 0);
}

.skillCost {
    color:white;
}

.skilltree h3 {
    text-align: center;
    background: #333;
    margin-bottom: 0;
    margin-top: 10px;
}

.skilltree p {
    white-space: pre;
    margin:2px;
}

.skilltree .combat h3 {
    color: rgb(226, 43, 43);
}

.skilltree .production h3 {
    color: rgb(4, 156, 67);
}

.skilltree .roleplaying h3 {
    color: rgb(243, 202, 66);
}

.skilltree .general h3 {
    color: rgb(226, 95, 43);
}

.skilltree .aegis h3 {
    color: rgb(150, 186, 202);
}

.skilltree .compulsion h3 {
    color: rgb(226, 43, 150);
}

.skilltree .nature h3 {
    color: rgb(132, 202, 3);
}

.skilltree .battle h3 {
    color: rgb(248, 46, 46);
}

.skilltree .restoration h3 {
    color: rgb(34, 240, 255);
}

.skilltree .necromancy h3 {
    color: rgb(171, 117, 179);
}

.skilltree .resources h3 {
    color: rgb(243, 223, 135);
}

.skilltree .enchantment h3 {
    color: rgb(124, 133, 255);
}

.skillpointsremaining ::placeholder {
    color: white;
    opacity: 1;
}

/* .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    color: #666;
}

.leftTodo {
    float: left;
}

.rightTodo {
    float: left;
}

.flexboy {
    display: flexbox;
    
} */